.App {
  text-align: center;
}
.ui.main.container{
  margin-top: 5em;
}
.ui.sidebarMenu.menu{
  margin-left: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  font-size: 1.2em;
  /* border: 1px 1px;
  border-width: 2.5px;
  border-color: black;
  border-radius: 2%; */
}
.ui.sidebarMenu.menu:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

